@media only screen and (max-width: 600px) 
{
    .navbar
    {
        font-size: 1vw;
        width: 100%;
    }
}
.logo 
{
    width: 40vw;
    list-style: none;
    border-image: 0vw;
}
.navbar
{
    border-style: double;
    text-decoration: none;
    font-size: 2vw; 
    color: #000000; 
    font-family: fantasy;
    background-color: #ffffff; 
    padding: 3vw;
    width: 80%; 
    text-shadow:   1px  1px 1px rgb(161, 39, 39), -1px -1px 1px rgb(0, 0, 0);
}
a:link
{
    color: black;
}
a:visited
{
    color: black;
}
.menutendina
{
    font-size: 2vw; 
    border-style: double;
    color: #000000; 
    margin-left: 35%;
    font-family: fantasy;
    background-color: #eeeeee; 
    width: 20%; 
    text-shadow:   1px  1px 1px rgb(161, 39, 39), -1px -1px 1px rgb(0, 0, 0);
}
.traduttore
{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: rgb(37, 103, 201);
    border-style: double;
}
.buttontraduci
{
    font-size: 1vw;
    color: Red;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.battle 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    position: relative;
    color: rgb(0, 0, 0);
}
.testobattle
{
    position: absolute;
    font-size: 3vw;
    bottom: 25vw;
    left: 35vw;
}
.RagnarHome
{
    position: relative;
    float: left;
    width: 45vw;
    margin-left: 3vw;
}
.Ragnar1Text 
{
    text-align: center;
    font-size: 160%;
    font-family: cursive;
    background-color: rgb(230, 228, 228);
}
.Ragnar2Text { text-align: left; font-size: 160%; font-family: cursive; }
.Title
{
    color: rgb(228, 19, 19);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    text-shadow:   1px  1px 2px #777, -1px -1px 2px rgb(0, 0, 0);
}
.Corpo
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}
h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 3vw; }
.RagnarPage
{
    position: relative;
    float: right;
    width: 35vw;
}
.Destra { margin-left: 40vw; }
.BerserkerHome 
{
    position: relative;
    float: right;
    width: 30vw;
    margin-right: 3vw;
}
.BjornHome 
{
    width: 25vw;
    position: relative;
    float: left;
    margin-left: 3vw;
}